<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MiConexion"
			connectionString="Server=;Port=;Database=;Uid=;Pwd=;SslMode=None;CharSet=utf8mb4;ConnectionTimeout=15;DefaultCommandTimeout=30;"
			providerName="MySql.Data.MySqlClient" />

	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>
